.auth-body{
    background-image: url("../../assets/login2.jpg");
    background-size:cover;  
}

@media (max-width: 500px) {
    .auth-body{
        background-image: url("../../assets/login11.jpg");
        background-size:cover;  
    }
}