<nav>
  <div class="header d-flex justify-content-around align-items-center py-2">
    <div class="header-hover"><b>Druken Mart</b></div>
    <div class="location d-flex justify-content-center align-item-center header-hover">
      <i class="bi bi-geo-alt"></i> Location
    </div>
    <div class="d-flex">
      <input class="form-control px-5 search-input" type="search" placeholder="Search for products" aria-label="Search">
      <button class="btn button search-button" type="submit">Search</button>
    </div>
    <div class="header-hover">
      <i class="bi bi-cart"></i> Cart
    </div>
    <div class="header-hover">
      <i class="bi bi-arrow-left-right"></i> Returns
    </div>
    <div class="header-hover">
      <i class="bi bi-box"></i> Orders
    </div>
    <div class="header-hover">
      <i class="bi bi-person"></i> Profile
    </div>
    <div>
      <a href="/auth/login" class="text-decoration-none header-hover logout">Logout</a>
    </div>
  </div>
</nav>