<nav>
  <div class="header d-flex justify-content-around align-items-center py-2">
    <div><span><b>Druken Mart</b></span></div>
    <div class="d-flex">
      <input [(ngModel)]="searchKeyword" name="searchKeyword" class="form-control search-input" type="search"
        placeholder="Search" aria-label="Search">
      <button (click)="navigateToProductComponent()" class="btn button search-button d-flex gap-2" type="submit"><span
          class="search-text">Search</span><i class="bi bi-search"></i></button>
    </div>
    <div class="header-hover">
      <i class="bi bi-heart mx-2"></i> <span>Wish List</span>
    </div>
    <div class="header-hover">
      <i class="bi bi-cart mx-2"></i> <span>Cart</span>
    </div>
    <div class="header-hover">
      <i class="bi bi-arrow-left-right mx-2"></i> <span>Returns</span>
    </div>
    <div class="header-hover">
      <i class="bi bi-box mx-2"></i> <span>Orders</span>
    </div>
    <div class="header-hover">
      <i class="bi bi-person mx-2"></i> <span>Profile</span>
    </div>
    <div>
      <a href="/auth/login" class="text-decoration-none header-hover logout"><i
          class="bi bi-box-arrow-in-left mx-2"></i>
        <span>Logout</span></a>
    </div>
  </div>
</nav>